.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-navigation-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}
.header-navigation-container a {
    display: flex;
    align-content: center;
    flex-basis: auto;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}